/*
 * CSS style sheet for Smalltrain
 */

body {
	font-family: verdana;
	font-size: 10px;
}
#train-title {
	display: inline;
}
#train-image {
	float: right;
}

table#train-schedule {
	border-collapse: collapse;
	border: solid 1px black;
}
table#train-schedule th {
	border: solid 1px black;
}
table#train-schedule td {
	text-align: right;
	border: solid 1px black;
}
table#options {
	border-collapse: collapse;
}
table#options, th, td {
	border: none;
}
table#options td {
	text-align: right;
}

.smalltrain-departuredelay {
	text-align:center;
}
.smalltrain-arrivaldelay {
	text-align:center;
}
.smalltrain-connections {
	text-align:center;
}
.smalltrain-track {
	text-align:center;
}
tr.delayed {
	background-color: red;
}
